<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('header') %>
  <title>File Sharing Page</title>
</head>
<body>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-file"></i> File Sharing Page
        </h1>
        <% if(locals.errors ) { %>
            <div style="margin:2rem; color: red;">
                <h3>Incorrect Password</h3>
            </div>
         <% } %>
        <form  method="post" >
          
         
          <div class="form-group">
            <label for="password">Password</label>
            <input
            required
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              autocomplete="off" />
             

          </div>
          
          <button type="submit" class="btn btn-primary btn-block">
          Download
          </button>
        </form>
       
      </div>
    </div>
  </div>
</body>
</html>